---
# Reverse-proxy Proxmox
http:
  routers:
    proxmox:
      rule: "Host(`pve.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "proxmox"

    wireguard:
      rule: "Host(`wg.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "wireguard"

    radarr:
      rule: "Host(`radarr.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "radarr"

    lidarr:
      rule: "Host(`lidarr.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "lidarr"

    prowlarr:
      rule: "Host(`prowlarr.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "prowlarr"

    qbittorrent:
      rule: "Host(`torrent.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "qbittorrent"

    jellyfin:
      rule: "Host(`jelly.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "proxmox"

  services:
    proxmox:
      loadBalancer:
        servers:
          - url: "https://192.168.1.9:8006"

    wireguard:
      loadBalancer:
        servers:
          - url: "wireguard:51821"

    radarr:
      loadBalancer:
        servers:
          - url: "radarr:7878"

    lidarr:
      loadBalancer:
        servers:
          - url: "lidarr:8686"

    prowlarr:
      loadBalancer:
        servers:
          - url: "prowlarr:9696"

    qbittorrent:
      loadBalancer:
        servers:
          - url: "qbittorrent:8080"

    jellyfin:
      loadBalancer:
        servers:
          - url: "jellyfin:8096"