---
http:
  routers:
    radarr:
      rule: "Host(`radarr.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      middlewares: 
        - "authentik@file"
      service: "radarr"

    lidarr:
      rule: "Host(`lidarr.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      middlewares: 
        - "authentik@file"
      service: "lidarr"

    prowlarr:
      rule: "Host(`prowlarr.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      middlewares: 
        - "authentik@file"
      service: "prowlarr"

    qbittorrent:
      rule: "Host(`torrent.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      middlewares: 
        - "authentik@file"
      service: "qbittorrent"

    jellyfin:
      rule: "Host(`jelly.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      middlewares: 
        - "authentik@file"
      service: "jellyfin"

  services:
    radarr:
      loadBalancer:
        servers:
          - url: "radarr:7878"

    lidarr:
      loadBalancer:
        servers:
          - url: "lidarr:8686"

    prowlarr:
      loadBalancer:
        servers:
          - url: "prowlarr:9696"

    qbittorrent:
      loadBalancer:
        servers:
          - url: "qbittorrent:8080"

    jellyfin:
      loadBalancer:
        servers:
          - url: "jellyfin:8096"